SECRET_KEY=Olivia777222Olivia
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,lyfeapp.cz,www.lyfeapp.cz
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://lyfeapp.cz,https://www.lyfeapp.cz
SECURE_SSL_REDIRECT=False

DB_NAME=lyfeapp_db
DB_USER=lyfeapp_user
DB_PASSWORD=Olivia777222Olivia
DB_HOST=127.0.0.1
DB_PORT=5433