{% extends "base.html" %}

{% block title %}Create Session | LYFE{% endblock %}

{% block content %}
<h1>Create Workout Session</h1>

<div class="form-top-bar">
    <a href="{% url 'fitness:session-list' %}" class="link-button">
        ← Back
    </a>
</div>

<form method="post" class="form-shell">
    {% csrf_token %}

    <div class="form-section">
        <h3 class="form-section-title">Session Details</h3>

        {% for field in form %}
            <div class="form-row">
                <div>{{ field.label_tag }}</div>
                <div>{{ field }}</div>

                {% if field.help_text %}
                    <div class="form-help">{{ field.help_text }}</div>
                {% endif %}

                {{ field.errors }}
            </div>
        {% endfor %}
    </div>

    <div class="form-actions">
        <button type="submit">Create session</button>
    </div>
</form>
{% endblock %}